{
	"arrowParens": "avoid",
	"semi": false,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "none",
	"useTabs": true,

	"overrides": [
		{
			"files": "*.sol",
			"options": {
				"singleQuote": false
			}
		}
	]
}
