@import 'tailwindcss';
@plugin "daisyui";

/* Custom scrollbar */
::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: rgba(148, 163, 184, 0.3);
	border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(148, 163, 184, 0.5);
}
